@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --HexagonLargeur: 65px;
  --HexagonHauteur: 36px;
  --HexagonColor: #1d254a;
  --BoxColor: #006BE9;
  --TopTimelineColor: #00e9e9;
  --TopBackground: rgba(0, 233, 233, 0.8);
  --BottomTimelineColor: rgb(248, 136, 33);
  --BottomBackground: rgba(248, 136, 33, 0.8);
  --SubtitleTitle: rgb(248, 136, 33);
  --OptionColor: rgb(249, 189, 133);
  --TextColor: #9bfbfb;
  --Title: 8em;
  --Subtitle: 2.5em;
  --H1: 2em;
  --H2: 1.5em;
  --H3: 1.4em;
  --Text: 1.3em;
  --SmallText: 0.9em;
  --GlobalContentPadding: 3%;
}

body,
html {
  box-sizing: border-box;
  background-color: #000000;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed";
  scroll-behavior: smooth;
}

#loaderCanvasContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
#loaderCanvasContainer .loaderCanvas {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header canvas {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
header .container {
  position: absolute;
  pointer-events: none;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
  z-index: 10;
}
header .container .title {
  font-weight: 900;
  font-family: "Roboto Condensed";
  color: transparent;
  font-size: var(--Title);
  background: url("https://media.gettyimages.com/id/1179289433/fr/vid%C3%A9o/4k-r%C3%A9solution-technologie-r%C3%A9sum%C3%A9-fond-fond-num%C3%A9rique-de-boucle-donde-de-donn%C3%A9es-binaires.jpg?s=640x640&k=20&c=eldEZJx4IMeayCIx1fYb6QdpLiVyPVG5eE4DA2gyXRU=") no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
}
header .container .subtitle {
  font-family: "Roboto Condensed";
  font-size: var(--Subtitle);
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  color: white;
}

.hexagonContainer {
  position: fixed;
  top: 40vh;
  left: -100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hexagonContainer .perspective {
  position: relative;
  width: var(--HexagonLargeur);
  height: calc(var(--HexagonHauteur) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  color: #000000;
}
.hexagonContainer .perspective .hexagon {
  position: relative;
  width: var(--HexagonLargeur);
  height: var(--HexagonHauteur);
  background-color: var(--HexagonColor);
  display: inline-block;
  box-sizing: border-box;
  rotate: 30deg;
  transition: transform 0.1s ease;
  transform-origin: center center;
  will-change: background-color, transform;
  z-index: 0;
}
.hexagonContainer .perspective .hexagon::before, .hexagonContainer .perspective .hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: calc(var(--HexagonLargeur) / 2) solid transparent;
  border-right: calc(var(--HexagonLargeur) / 2) solid transparent;
}
.hexagonContainer .perspective .hexagon::before {
  bottom: 100%;
  border-bottom: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
}
.hexagonContainer .perspective .hexagon::after {
  top: 100%;
  border-top: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
}

.movingPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: transform 5s linear; /* Augmenter la durée à 5 secondes pour ralentir */
}

.movingPoint.trail {
  opacity: 0.5;
  transition: transform 50s linear, opacity 5s ease-in-out; /* Traînée plus lente */
}

section {
  position: relative;
  z-index: 10;
  pointer-events: none;
}
section .topRight {
  background: linear-gradient(90deg, var(--BoxColor), rgba(0, 0, 0, 0));
  -webkit-clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
  position: relative;
}
section .topLeft {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--BoxColor));
  -webkit-clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
}
section .box {
  width: 100%;
  position: relative;
  padding: 20px 0;
  color: white;
  margin-top: 3em;
}
section .box .subtitlePart {
  font-size: var(--Subtitle);
  font-weight: bold;
  text-align: center;
  color: white;
  margin: 70px 0 0 0;
}
section .bottomRight {
  content: "";
  position: absolute;
  width: 100%;
  height: 148px;
  background: linear-gradient(90deg, var(--BoxColor), rgba(0, 0, 0, 0));
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
  transform: translateY(-0.1px);
}
section .bottomLeft {
  content: "";
  position: absolute;
  width: 100%;
  height: 148px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--BoxColor));
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
  transform: translateY(-0.1px);
}
section .presContent {
  position: relative;
  align-items: center;
  background: linear-gradient(90deg, var(--BoxColor), rgba(0, 0, 0, 0));
  padding: var(--GlobalContentPadding);
  z-index: 1;
}
section .presContent h1 {
  margin-bottom: 10px;
  color: var(--SubtitleTitle);
  text-align: left;
  font-size: var(--H1);
  font-family: "Roboto Condensed";
}
section .presContent p {
  font-size: var(--Text);
  color: var(--TextColor);
  text-align: left;
}
section .presContent h2 {
  font-size: var(--H2);
  color: var(--OptionColor);
  margin-top: 50px;
  text-align: left;
  text-align: center;
}
section .presContent .btsOptions {
  display: flex;
  justify-content: space-around;
}
section .presContent .btsOptions .option {
  width: 40%;
}
section .presContent .btsOptions .option h3 {
  font-size: var(--H3);
  color: var(--OptionColor);
  text-align: left;
}
section .presContent .btsOptions .option ul {
  list-style-type: none;
}
section .presContent .btsOptions .option ul li {
  position: relative;
  padding: 20px;
  font-size: var(--Text);
  color: var(--TextColor);
  margin: 10px 0;
}
section .presContent .btsOptions .option ul .optionSisr::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("images/icones/reseau.png");
  background-size: cover;
  background-repeat: no-repeat;
}
section .presContent .btsOptions .option ul .optionSlam::before {
  content: "";
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url("images/icones/developpement.png");
  background-size: cover;
  background-repeat: no-repeat;
}
section .presContent .apropos {
  width: 70%;
}
section .presContent .competences {
  margin-top: 5vh;
}
section .presContent .competences ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section .presContent .competences ul .containerCard {
  position: relative;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
  pointer-events: all;
}
section .presContent .competences ul .containerCard .card {
  width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  perspective: 1000px;
  justify-content: center;
}
section .presContent .competences ul .containerCard .card .contentCard {
  height: 100%;
  border-radius: 25px;
  transition: all 0.1s ease-out;
  text-align: center;
  padding: 20px;
  background: var(--BoxColor);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section .presContent .competences ul .containerCard .card .contentCard img {
  height: 260px;
  -o-object-fit: fill;
     object-fit: fill;
}
section .presContent .competences ul .containerCard .card .contentCard p {
  text-align: center;
}
section .presContent .competences ul .containerCard .card .glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: all 0.1s ease-out;
  mix-blend-mode: color-burn;
}
section .timeline {
  position: relative;
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--BoxColor));
  z-index: 1;
}
section .timeline svg {
  height: 850px;
  width: 98vw;
}
section .timeline .contextBox {
  position: absolute;
  top: 50%;
  left: 2%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-50%);
}
section .timeline .contextBox .contextTimeline {
  text-align: center;
  font-size: var(--H2);
  font-family: "Roboto Condensed";
  color: var(--TopTimelineColor);
}
section .timeline .contextBox .contextBottom {
  color: var(--BottomTimelineColor);
}
section .timeline .timelineTopItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
section .timeline .timelineTopItem .timelineContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--TopBackground);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: black;
  width: 150px;
  height: 100px;
  position: relative;
}
section .timeline .timelineTopItem p {
  margin: 5px 0;
  font-size: var(--SmallText);
}
section .timeline .timelineTopItem img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
}
section .timeline .educateurContainer {
  position: absolute;
  display: flex;
  width: 30%;
  justify-content: space-between;
  bottom: 50%;
  left: 25%;
}
section .timeline .educateurContainer .educateur {
  position: relative;
  bottom: 50%;
  left: 30%;
}
section .timeline .educateurContainer .educateur .lineSTL {
  width: 2px;
  height: 160px;
  background-color: var(--TopTimelineColor);
}
section .timeline .educateurContainer .smallTL {
  position: absolute;
  top: 100%;
  width: 30vw;
  height: 10px;
  background-color: var(--TopTimelineColor);
  border-radius: 10px;
  transform: translate(25%, -75%);
}
section .timeline .intersport {
  bottom: 50%;
  left: 68%;
}
section .timeline .intersport .lineSTL {
  width: 2px;
  height: 160px;
  background-color: var(--TopTimelineColor);
}
section .timeline .intersport .smallTL {
  position: absolute;
  top: 100%;
  width: 7vw;
  height: 10px;
  background-color: var(--TopTimelineColor);
  border-radius: 10px;
  transform: translate(0, -75%);
}
section .timeline .timelineBottomItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
section .timeline .timelineBottomItem .circle {
  width: 20px;
  height: 20px;
  background-color: var(--BottomTimelineColor);
  border-radius: 50%;
}
section .timeline .timelineBottomItem .line {
  width: 2px;
  height: 150px;
  background-color: var(--BottomTimelineColor);
}
section .timeline .timelineBottomItem .timelineContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--BottomBackground);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: black;
  width: 150px;
  height: 100px;
  position: relative;
}
section .timeline .timelineBottomItem p {
  margin: 5px 0;
  font-size: var(--SmallText);
}
section .timeline .timelineBottomItem img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
}
section .timeline .ind {
  top: 48.5%;
  left: 5%;
}
section .timeline .cqpet {
  top: 48.5%;
  left: 40%;
}
section .timeline .diderot {
  top: 48.5%;
  left: 20%;
}
section .timeline .diderot .smallTL {
  width: 15vw;
  height: 10px;
  background-color: var(--BottomTimelineColor);
  border-radius: 10px;
  transform: translate(-25%, 58%);
}
section .timeline .diderot .lineSTL {
  width: 2px;
  height: 160px;
  background-color: var(--BottomTimelineColor);
}
section .timeline .epsi {
  top: 48.5%;
  left: 80%;
}
section .timeline .epsi .smallTL {
  width: 12vw;
  height: 10px;
  background-color: var(--BottomTimelineColor);
  border-radius: 10px;
  transform: translate(0, 58%);
}
section .timeline .epsi .lineSTL {
  width: 2px;
  height: 160px;
  background-color: var(--BottomTimelineColor);
}/*# sourceMappingURL=style.css.map */