@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --HexagonLargeur: 65px;
  --HexagonHauteur: 36px;
  --HexagonColor: #1d254a;
  --BoxColor: #006BE9;
  --TopTimelineColor: #00E9E9;
  --BottomTimelineColor: #F88821;
  --Title: 8em;
  --Subtitle: 2.5em;
  --H1: 2em;
  --H2: 1.5em;
  --Text: 1em;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto Condensed";
}

#loaderCanvasContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
#loaderCanvasContainer .loaderCanvas {
  display: block;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header canvas {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
header .container {
  position: absolute;
  pointer-events: none;
  transition: all 0.5s ease;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
}
header .container .title {
  font-weight: 900;
  font-family: "Roboto Condensed";
  color: transparent;
  font-size: var(--Title);
  background: url("https://media.gettyimages.com/id/1179289433/fr/vid%C3%A9o/4k-r%C3%A9solution-technologie-r%C3%A9sum%C3%A9-fond-fond-num%C3%A9rique-de-boucle-donde-de-donn%C3%A9es-binaires.jpg?s=640x640&k=20&c=eldEZJx4IMeayCIx1fYb6QdpLiVyPVG5eE4DA2gyXRU=") no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
}
header .container .subtitle {
  font-family: "Roboto Condensed";
  font-size: var(--Subtitle);
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  color: white;
}

.hexagonContainer {
  position: fixed;
  left: -100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hexagonContainer .perspective {
  position: relative;
  width: var(--HexagonLargeur);
  height: calc(var(--HexagonHauteur) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  color: #000000;
}
.hexagonContainer .perspective .hexagon {
  position: relative;
  width: var(--HexagonLargeur);
  height: var(--HexagonHauteur);
  background-color: var(--HexagonColor);
  display: inline-block;
  box-sizing: border-box;
  rotate: 30deg;
  transition: transform 0.1s ease;
  transform-origin: center center;
  will-change: background-color, transform;
  z-index: 0;
}
.hexagonContainer .perspective .hexagon::before, .hexagonContainer .perspective .hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: calc(var(--HexagonLargeur) / 2) solid transparent;
  border-right: calc(var(--HexagonLargeur) / 2) solid transparent;
}
.hexagonContainer .perspective .hexagon::before {
  bottom: 100%;
  border-bottom: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
}
.hexagonContainer .perspective .hexagon::after {
  top: 100%;
  border-top: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
}

.movingPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: transform 5s linear; /* Augmenter la durée à 5 secondes pour ralentir */
}

.movingPoint.trail {
  opacity: 0.5;
  transition: transform 50s linear, opacity 5s ease-in-out; /* Traînée plus lente */
}

section {
  position: relative;
  z-index: 10;
  pointer-events: none;
}
section .topRight {
  background: linear-gradient(90deg, var(--BoxColor), rgba(0, 0, 0, 0));
  -webkit-clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
  position: relative;
}
section .topLeft {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--BoxColor));
  -webkit-clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 80%, 100% 100%, 0% 100%);
}
section .box {
  width: 100%;
  position: relative;
  padding: 20px;
  color: white;
  margin-top: 3em;
}
section .box h1 {
  font-size: var(--H1);
  text-align: center;
  color: white;
  margin: 70px 0 0 0;
}
section .bottomRight {
  content: "";
  position: absolute;
  width: 100%;
  height: 148px;
  background: linear-gradient(90deg, var(--BoxColor), rgba(0, 0, 0, 0));
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
  transform: translateY(-0.5px);
}
section .bottomLeft {
  content: "";
  position: absolute;
  width: 100%;
  height: 148px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--BoxColor));
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 0%);
  transform: translateY(-0.5px);
}
section .timeline {
  align-items: center;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--BoxColor));
}
section .timeline .professionelTimeline {
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: var(--H2);
  font-family: "Roboto Condensed";
  color: var(--TopTimelineColor);
}
section .timeline .scolaireTimeline {
  position: absolute;
  top: 47%;
  left: 6%;
  font-size: var(--H2);
  font-family: "Roboto Condensed";
  color: var(--BottomTimelineColor);
}/*# sourceMappingURL=style.css.map */