@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --HexagonLargeur: 65px;
  --HexagonHauteur: 36px;
  --HexagonColor: #1d254a;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  margin: 0;
  width: 100%;
  height: 100%;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header canvas {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}
header .container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 25%;
}
header .container .title {
  font-weight: 900;
  font-family: "Roboto Condensed";
  color: transparent;
  font-size: 120px;
  background: url("https://media.gettyimages.com/id/1179289433/fr/vid%C3%A9o/4k-r%C3%A9solution-technologie-r%C3%A9sum%C3%A9-fond-fond-num%C3%A9rique-de-boucle-donde-de-donn%C3%A9es-binaires.jpg?s=640x640&k=20&c=eldEZJx4IMeayCIx1fYb6QdpLiVyPVG5eE4DA2gyXRU=") no-repeat center center;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
}
header .container .subtitle {
  font-family: "Roboto Condensed";
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  color: white;
}

.hexagonContainer {
  position: fixed;
  left: -100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hexagonContainer .perspective {
  position: relative;
  width: var(--HexagonLargeur);
  height: calc(var(--HexagonHauteur) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  color: #000000;
}
.hexagonContainer .perspective .hexagon {
  position: relative;
  width: var(--HexagonLargeur);
  height: var(--HexagonHauteur);
  background-color: var(--HexagonColor);
  display: inline-block;
  box-sizing: border-box;
  rotate: 30deg;
  transition: transform 0.1s ease;
  transform-origin: center center;
  will-change: background-color, transform;
}
.hexagonContainer .perspective .hexagon::before, .hexagonContainer .perspective .hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  border-left: calc(var(--HexagonLargeur) / 2) solid transparent;
  border-right: calc(var(--HexagonLargeur) / 2) solid transparent;
}
.hexagonContainer .perspective .hexagon::before {
  bottom: 100%;
  border-bottom: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
}
.hexagonContainer .perspective .hexagon::after {
  top: 100%;
  border-top: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
}
.hexagonContainer .lightRay {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
  z-index: -1;
  transform: translate(-50%, -50%);
  filter: blur(15px);
}
.hexagonContainer .lightRay1 {
  transition: transform ease-out;
}
.hexagonContainer .lightRay2 {
  transition: transform 0.02s ease-out, opacity 0.02s ease-out;
  opacity: 0.8;
}
.hexagonContainer .lightRay3 {
  transition: transform 0.04s ease-out, opacity 0.04s ease-out;
  opacity: 0.6;
}
.hexagonContainer .lightRay4 {
  transition: transform 0.06s ease-out, opacity 0.06s ease-out;
  opacity: 0.4;
}
.hexagonContainer .lightRay5 {
  transition: transform 0.08s ease-out, opacity 0.08s ease-out;
  opacity: 0.2;
}
.hexagonContainer .lightRay6 {
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  opacity: 0.1;
}

.movingPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: transform 5s linear; /* Augmenter la durée à 5 secondes pour ralentir */
}

.movingPoint.trail {
  opacity: 0.5;
  transition: transform 50s linear, opacity 5s ease-in-out; /* Traînée plus lente */
}/*# sourceMappingURL=style.css.map */