@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --HexagonLargeur: 65px;
  --HexagonHauteur: 36px;
  --HexagonColor: #1d254a;
  --BoxColor: #006BE9;
}

body{
  box-sizing: border-box;
  background-color: #000000;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed';
}

  header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  justify-content: center; 
  align-items: center;
  text-align: center;

  @mixin center(){
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:50%;
    top:25%;
  }
  
  canvas {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    position: absolute; 
    top: 0;
    left: 0;
  }
  
  
  .container{
    position:absolute;
    @include center();

    .title {
      font-weight: 900;
      font-family: 'Roboto Condensed';
      color: transparent;
      font-size: 120px;
      background: url("https://media.gettyimages.com/id/1179289433/fr/vid%C3%A9o/4k-r%C3%A9solution-technologie-r%C3%A9sum%C3%A9-fond-fond-num%C3%A9rique-de-boucle-donde-de-donn%C3%A9es-binaires.jpg?s=640x640&k=20&c=eldEZJx4IMeayCIx1fYb6QdpLiVyPVG5eE4DA2gyXRU=") no-repeat center center;
      background-position: 50% 50%;
      -webkit-background-clip: text;
      position: relative;
      text-align: center;
      line-height: 90px;
      letter-spacing: -8px;
    }
    

    .subtitle{
      font-family: 'Roboto Condensed';
      display: block;
      text-align: center;
      text-transform: uppercase;
      padding-top:10px;
      color: white;
    }
  }
}

.hexagonContainer {
  position: fixed;
  left: -100px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .perspective{
  position: relative;
  width: var(--HexagonLargeur);
  height: calc(var(--HexagonHauteur) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 800px;
  color: #000000;

    .hexagon {
      position: relative;
      width: var(--HexagonLargeur);
      height: var(--HexagonHauteur);
      background-color: var(--HexagonColor);
      display: inline-block;
      box-sizing: border-box;
      rotate: 30deg;
      transition: transform 0.1s ease;
      transform-origin: center center;
      will-change: background-color, transform;
      z-index: 0;
      
    
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 0;
        border-left: calc(var(--HexagonLargeur) / 2) solid transparent;
        border-right: calc(var(--HexagonLargeur) / 2) solid transparent;
        
      }
    
      &::before {
        bottom: 100%;
        border-bottom: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
      }
    
      &::after {
        top: 100%;
        border-top: calc(var(--HexagonHauteur) / 2) solid var(--HexagonColor);
      }
    }
  }
}

.movingPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
  transition: transform 5s linear; /* Augmenter la durée à 5 secondes pour ralentir */
}

.movingPoint.trail {
  opacity: 0.5;
  transition: transform 50s linear, opacity 5s ease-in-out; /* Traînée plus lente */
}


section{
  position: relative;
  z-index: 10;
  pointer-events: none;

  .right{
    background: linear-gradient(90deg, var(--BoxColor), rgba(0,0,0,0));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    position: relative;

    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 5em;
      clip-path: polygon(100% 100%, 0% 0%, 0% 100%);
      background: linear-gradient(90deg, var(--BoxColor), rgba(0,0,0,0));
      transform: translateY(-100%);
    }

    &::after{
      content: '';
      clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
    }

  }

  .left{
    background: linear-gradient(90deg, rgba(0,0,0,0), var(--BoxColor));
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .box{
    width: 100%;
    position: relative;
    padding: 20px;
    color: white;
    margin: 5em auto;

    h1{
      font-size: 2em;
      text-align: center;
      color: white;
    }
  }
}



